---
import { Image } from 'astro:assets';
import clsx from 'clsx';

const props = Astro.props;

interface Props {
  img: ImageMetadata;
  alt?: string;
  classdiv?: string;
  classimg?: string;
}

---

<div class={clsx("imagewrapper-main", props.classdiv)}>
    <div class="imagewrapper-inner">
        <Image class={clsx("imagewrapper-image", props.classimg)} src={props.img} alt={props.alt}/>
        <span class="text-center">
            {props.alt}
        </span>
    </div>
</div>